OPENAI_API_KEY=
PAGE_ACCESS_TOKEN=
PAGE_ID=
VERIFY_TOKEN=ANY_STRING
APP_SECRET=
ADMIN_TOKEN=
BKASH_NUMBER=01942776220
ADVANCE_PERCENT=0.60
MIN_ORDER_TOTAL=600
OWNER_DM_ID=
OWNER_DM_MESSENGER_ID=
OWNER_DM_INSTAGRAM_ID=
PRODUCTS_FILE_PATH=products.json
STATE_DB_PATH=ellenai_state.db
MESSAGE_SEND_DELAY_SECONDS=5
ENABLE_REPLY_REWRITE=1
INTENT_CACHE_MAX_SIZE=10000
INTENT_CACHE_TTL_SECONDS=3600
REWRITE_CACHE_MAX_SIZE=10000
REWRITE_CACHE_TTL_SECONDS=3600
SESSION_CACHE_MAX_SIZE=5000
OPENAI_RETRY_ATTEMPTS=3
OPENAI_RETRY_MIN_SECONDS=1
OPENAI_RETRY_MAX_SECONDS=8
USER_RATE_LIMIT_COUNT=8
USER_RATE_LIMIT_WINDOW_SECONDS=20
WEBHOOK_RATE_LIMIT_COUNT=60
WEBHOOK_RATE_LIMIT_WINDOW_SECONDS=10
